<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../images/revature-logo.png" style="height: 2.5em;"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reimbursements</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#" id="logout-button">Logout</a>
            </li>
        </ul>

    </nav>
    <main class="container-fluid mx-auto " style="padding: 0 7.5em;">
        
        <div class="container align-content-center" id="empbox">
            <br>
            <br>
            <br>
            <br>
            <form>
                <div id="bottomBorder" class="form-row justify-content-center">
                    <h1 class="display-4"><b>Welcome Employee!</b></h1></div>
                    <br>
                    
                    <div id="optionsMessage" class="form-row justify-content-center"><h3 class="display-5"><br>Please select one of the available options</h3></div>
                </form>
                </div>
                <hr>
                <div id="viewAll" class="form-row justify-content-center"><button type="button" class="btn btn-primary btn-lg" onclick='addRWindow()'>Add Reimbursement Request</button>
                    <br></div>
                <br>
                <div class="form-row justify-content-center"><button type="button" class="btn btn-primary btn-lg" onclick='viewPending(1)'>View Your Pending Reimbursement Requests</button></div>
                <br>
                <div id="empApprove" class="form-row justify-content-center"><button type="button" class="btn btn-primary btn-lg" onclick='viewPending(2)'>View Your Approved Reimbursement Requests</button></div>
                <br>
                <div id="empDeny" class="form-row justify-content-center"><button type="button" class="btn btn-primary btn-lg" onclick='viewPending(3)'>View Your Rejected Reimbursement Requests</button></div>
                <br>
                <div id="empProfile" class="form-row justify-content-center"><button type="button" class="btn btn-primary btn-lg" onclick='viewProfile()'>View Your Profile Information</button></div>
                <br>
                <div id="empUpdate" class="form-row justify-content-center"><button type="button" class="btn btn-primary btn-lg" onclick='updateWindow()'>Update Your Information</button></div>
                

                
                
                <br>
                <br>
                <br>
                <div class="form-row justify-content-center">
                    <div style="color:red;" id="error-div"></div>
                </div>
            </form>
    </main>

    <footer class="bg-light text-center fixed-bottom">
        <div class="text-center p-3">
            Wysocki David Project 1
        </div>
    </footer>
    <script src="../scripts/main.js"></script>
</body>

</html>