<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/ttaal.css">
    </head>
    <body>
        <header>
            <h1>David Wysocki</h1>
        </header>
        <nav>
            <ul>
                <li><b><a href="../index.html">Home</a></b></li>
                <li><b><a href="ttaal.html" class="test">TTAAL</a></b></li>
                <li><b><a href="https://www.w3schools.com/">Helpful info</a></b></li>
            </ul>
        </nav>
        <main>
            <h3>Two truths and a lie:</h3>
            <table>
                <tr class="lie">
                    <th>1st</th>
                    <td>I have never jumped off a cliff.</td>
                </tr>
                <tr class="truth">
                    <th>2nd</th>
                    <td>I've been to Canada</td>
                </tr>
                <tr class="truth">
                    <th>3rd</th>
                    <td>I originally went to college to study pharmacy.</td>
                </tr>
            </table>
        </main>
        <footer>
            <div>101121-VA-Java</div>
        </footer>
    </body>
</html>